body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

#wrapper {
  color: black;
}

#leftPanel,
#rightPanel {
  border: 2px solid #eee;
  box-shadow: 0 0 5px #222;
  height: 100vh;
  border-radius: 6px;
  background-color: #eee;
  overflow: scroll;
  transition: all 0.5s;
}

#leftPanel:hover,
#rightPanel:hover {
  border-color: #00471b;
}

.panelTitle {
  padding: 10px;
  text-align: center;
  border-bottom: 1.5px solid #bbb;
}

textarea {
  min-height: 100vh;
  font-size: 12px;
}

/* Markdown Styles */
h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

blockquote {
  border-left: 3px solid #224b4b;
  color: #00471b;
  padding-left: 5px;
  margin-left: 25px;
}

pre {
  background: white;
  padding: 5px 0 5px 5px;
}

code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

img {
  width: 150px;
}
